<div class="navbar">
    <a class="nav-link" routerLink="/colaborador" routerLinkActive="active">Colaborador</a>
    <a class="nav-link" routerLink="/exemplo01" routerLinkActive="active">Exemplo 01</a>
    <a class="nav-link" routerLink="/colaboradores" routerLinkActive="active">Colaboradores</a>
    <a class="nav-link" routerLink="/calculadora-plr" routerLinkActive="active">Calculadora PLR</a>
    <a class="nav-link" routerLink="/lista-despesas" routerLinkActive="active">Despesas</a>
    <a class="nav-link" routerLink="/lista-categorias" routerLinkActive="active">Categorias</a>
    <a class="nav-link" routerLink="/lista-entradas" routerLinkActive="active">Entradas</a>
</div>